{% extends 'base.html' %}
{% load static %}
{% block title %}{{ title }} | {{ block.super }}{% endblock %}


{% block content %}
    <section class="section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    {% for item in recipes %}
                        <div class="card blog blog-primary shadow rounded overflow-hidden">
                            <div class="image position-relative overflow-hidden">
                                {% if item.photo %}
                                    <img src='{{ item.photo.url }}' class="img-fluid" alt="">
                                {% else %}
                                    <img src='{% static 'images/plug.png' %}' class="img-fluid" alt="">

                                {% endif %}
                                <div class="blog-tag">
                                    <a href="{{ item.category.get_absolute_url }}"
                                       class="badge bg-dark">{{ item.category }}</a>
                                </div>
                            </div>
                            <div class="card-body content">
                                <a href="{{ item.get_absolute_url }}"
                                   class="h5 title text-dark d-block mb-0">{{ item.title }}</a>
                                <p class="text-muted mt-2 mb-2">{{ item.description }}</p>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="row">
                        <div class="col-12">
                            {% include 'inc/_paginator.html' %}
                        </div><!--end col-->
                    </div>
                </div><!--end col-->

            </div><!--end row-->
        </div><!--end container-->
    </section><!--en section-->

{% endblock %}
