{% extends 'base_old.html' %}
{% load static %}
{% block title %}{{ title }} | {{ block.super }}{% endblock %}


{% block content %}
    <div class="col-lg-8 px-md-5 py-5" xmlns="http://www.w3.org/1999/html">
        {#  Заголовок и фото, если есть   #}
        <div class="row">
            <div class="col-12">
                <h1 class="mb-3">{{ recipe.title }}</h1>
                {% if recipe.photo %}
                    <p>
                        <img src="{{ recipe.photo.url }}" alt="" class="img-fluid">
                    </p>
                {% endif %}
            </div>
        </div>
        {# Таблицы  #}
        <div class="row ml-2 mr-2">
            <div class="col-md-8">
                {% include 'inc/_table_ingredients.html' %}
            </div>
            <div class="col-md-3">
                {% include 'inc/_tables_spices.html' %}
            </div>
        </div>
        {#   Кнопки    #}

        <div class="row mb-3">
            {% if request.user.is_authenticated %}
                <div class="col-md-4 col-sm-6 mb-2 ">
                    <a href="{% url 'home' %}add_ingredients/{{ recipe.slug }}">
                        <button class="btn btn-primary mx-auto" type="button"> Добавить ингредиент
                        </button>
                    </a>
                </div>
            {% endif %}
            {% if recipe.video %}
                <div class="col-md-4 col-sm-6 mb-2 ">
                    <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseVideo"
                            aria-expanded="false" aria-controls="collapseVideo"> Видео по рецепту
                    </button>
                </div>
            {% endif %}
        </div>
        {# Сворацивающийся div для видео  #}
        <div class="row">
            {% if recipe.video %}
                <div class="collapse col-md-12" id="collapseVideo">
                    <iframe width="100%" height="350" src="https://www.youtube.com/embed/{{ recipe.video }}"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                            allowfullscreen></iframe>
                </div>
            {% endif %}
        </div>
        {# Основной контент #}
        <div class="row">
            <div class="col-12">
                {{ recipe.content| safe }}
            </div>
        </div>
        {# Облако тегов #}
        <div class="row">
            <div class="col-md-12">
                <div class="tag-widget post-tag-container mt-3">
                    <div class="tagcloud">
                        {% for tag in recipe.tags.all %}
                            <a href="#" class="tag-cloud-link">{{ tag }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

