{% extends 'base.html' %}
{% load static %}
{% load image_grid %}
{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
    <section class="bg-half-170">
        <div class="container">



            <div class="row">
                <div class="col-lg-12 col-md-6">
                    <div class="title-heading">
                        <ul class="list-inline">
                            <li class="list-inline-item text-muted h6 me-3"><i
                                    class="uil uil-calender h5 text-dark"></i> {{ recipe.date_added }}
                            </li>
                            <li class="list-inline-item text-muted h6"><i
                                    class="uil uil-eye h5 text-dark"></i> {{ recipe.views }}
                            </li>
                        </ul>
                        <h5 class="heading fw-semibold page-heading">{{ recipe.title }}</h5>
                    </div>
                    <div class="mt-4">
                        {% for step in recipe.steps.all %}
                            {% get_image_grid step.pk %}
                            <p style="font-size: larger" class="mt-3">{{ step.content| safe }}</p>
                        {% endfor %}
                    </div>
                </div><!--end col-->
            </div><!--end row-->
        </div><!--end container-->
    </section><!--end section-->
    <script src="{% static 'js/tobii.min.js' %}"></script>

{% endblock %}




