{% load static %}
<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8"/>
    <title>{% block title %}Рецепты тётушки выдры{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Рецепты вкусной еды опробованной лично"/>
    <meta name="keywords" content="Рецепты, Кулинария, Блюда, Пошаговые рецепты, Домашняя кухня"/>
    <meta name="author" content="Zhiharka"/>
    <meta name="email" content="aisavikin@gmail.com"/>
    <meta name="website" content="https://auntotter.pythonanywhere.com/"/>
    <!-- favicon -->
    <link href="{% static 'images/favicon.png' %}" rel="shortcut icon">
    <!-- Bootstrap -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet" type="text/css"/>
    <!-- Icons -->
    <link href="{% static "css/materialdesignicons.min.css" %}" rel="stylesheet" type="text/css"/>
    <link href="https://unicons.iconscout.com/release/v4.0.0/css/line.css" rel="stylesheet">
    <!-- Main Css -->
    <link href="{% static "css/style.min.css" %}" rel="stylesheet" type="text/css" id="theme-opt"/>

</head>

<body>
<!-- Navbar STart -->
{% include 'inc/_nav_bar.html' %}
<!-- Navbar End -->

<!-- Hero Start -->

<!-- Hero End -->


<!-- Start -->
{% block content %}

{% endblock %}
<!-- End -->


<!-- Footer Start -->
{% include 'inc/footer.html' %}
<!-- Footer End -->


<!-- Back to top -->

<a href="javascript:void(0)" onclick="topFunction()" id="back-to-top" class="back-to-top rounded-pill"><i
        class="mdi mdi-arrow-up"></i></a>
<!-- Back to top -->


<!-- javascript -->
<script src="{% static "js/bootstrap.bundle.min.js" %}"></script>
<script src="{% static "js/shuffle.min.js" %}"></script>

<script src="{% static "js/feather.min.js" %}"></script>
<!-- Main Js -->
<script src="{% static "js/plugins.init.js" %}"></script>
<!--Note: All init js like tiny slider, counter, countdown, maintenance, lightbox, gallery, swiper slider, aos animation etc.-->
<script src="{% static "js/app.js" %}"></script>
<!--Note: All important javascript like page loader, menu, sticky menu, menu-toggler, one page menu etc. -->
</body>
</html>