{% load static %}
<div id="grid" class="row mt-4">
    <div class="col-lg-4 col-md-4 col-12 spacing picture-item" data-groups='["branding"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
            <div class="card-img position-relative">
                <img src="{% static 'images/plug.png' %}" class="img-fluid" alt="">
                <div class="card-overlay"></div>

                <div class="pop-icon">
                    <a href="{% static 'images/plug.png' %}" class="btn btn-pills btn-icon lightbox"><i
                            class="uil uil-search"></i></a>
                </div>
            </div>
        </div>
    </div><!--end col-->

    <div class="col-lg-4 col-md-4 col-12 spacing picture-item" data-groups='["designing"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
            <div class="card-img position-relative">
                <img src="{% static 'images/plug.png' %}" class="img-fluid" alt="">
                <div class="card-overlay"></div>

                <div class="pop-icon">
                    <a href="{% static 'images/plug.png' %}" class="btn btn-pills btn-icon lightbox"><i
                            class="uil uil-search"></i></a>
                </div>
            </div>
        </div>
    </div><!--end col-->

    <div class="col-lg-4 col-md-4 col-12 spacing picture-item" data-groups='["photography"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
            <div class="card-img position-relative">
                <img src="{% static 'images/plug.png' %}" class="img-fluid" alt="">
                <div class="card-overlay"></div>

                <div class="pop-icon">
                    <a href="{% static 'images/plug.png' %}" class="btn btn-pills btn-icon lightbox"><i
                            class="uil uil-search"></i></a>
                </div>
            </div>
        </div>
    </div><!--end col-->

    <div class="col-lg-4 col-md-4 col-12 spacing picture-item" data-groups='["development"]'>
        <div class="card portfolio portfolio-classic portfolio-primary rounded overflow-hidden">
            <div class="card-img position-relative">
                <img src="{% static 'images/plug.png' %}" class="img-fluid" alt="">
                <div class="card-overlay"></div>

                <div class="pop-icon">
                    <a href="{% static 'images/plug.png' %}" class="btn btn-pills btn-icon lightbox"><i
                            class="uil uil-search"></i></a>
                </div>
            </div>
        </div>
    </div><!--end col-->


</div><!--end row-->

<script src="{% static 'js/tobii.min.js' %}"></script>

