{% if page_obj.has_other_pages %}

<ul class="pagination justify-content-center mb-0">
    {% if page_obj.has_previous %}
    <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
            <span aria-hidden="true"><i class="mdi mdi-chevron-left mdi-18px"></i></span>
        </a>
    </li>
    {% endif %}
    {% for p in page_obj.paginator.page_range %}
    {% if p == page_obj.number %}
    <li class="page-item"><a class="page-link active" href="?{{ s }}page={{ p }}">{{ p }}</a></li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?{{ s }}page={{ p }}">{{ p }}</a></li>
    {% endif %}
    {% endfor %}
    {% if page_obj.has_next %}

    <li class="page-item">
        <a class="page-link" href="?{{ s }}page={{ page_obj.next_page_number }}" aria-label="Next">
            <span aria-hidden="true"><i class="mdi mdi-chevron-right mdi-18px"></i></span>
        </a>
    </li>
    {% endif %}

</ul>
{% endif %}
