<!-- CATAGORIES -->
<div class="widget mt-4 pt-2">
    <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">Catagories</h6>
    <ul class="list-unstyled mt-4 mb-0 catagories">
        <li class="d-flex justify-content-between"><a href="javascript:void(0)"
                                                      class="title text-dark">Finance</a>
            <span>13</span></li>
        <li class="d-flex justify-content-between mt-2"><a href="javascript:void(0)"
                                                           class="title text-dark">Business</a>
            <span>09</span></li>
        <li class="d-flex justify-content-between mt-2"><a href="javascript:void(0)"
                                                           class="title text-dark">Blog</a>
            <span>18</span></li>
        <li class="d-flex justify-content-between mt-2"><a href="javascript:void(0)"
                                                           class="title text-dark">Corporate</a>
            <span>20</span></li>
        <li class="d-flex justify-content-between mt-2"><a href="javascript:void(0)"
                                                           class="title text-dark">Investment</a>
            <span>22</span></li>
    </ul>
</div>
<!-- CATAGORIES -->

<!-- RECENT POST -->
<div class="widget mt-4 pt-2">
    <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded text-center">Recent
        Post</h6>
    <div class="mt-4">
        <div class="d-flex align-items-center">
            <img src="images/blog/01.jpg" class="avatar avatar-small rounded" style="width: auto;"
                 alt="">
            <div class="flex-1 ms-3">
                <a href="javascript:void(0)" class="d-block title text-dark">Consultant Business</a>
                <span class="text-muted">15th April 2021</span>
            </div>
        </div>

        <div class="d-flex align-items-center mt-3">
            <img src="images/blog/02.jpg" class="avatar avatar-small rounded" style="width: auto;"
                 alt="">
            <div class="flex-1 ms-3">
                <a href="javascript:void(0)" class="d-block title text-dark">Grow Your Business</a>
                <span class="text-muted">15th April 2021</span>
            </div>
        </div>

        <div class="d-flex align-items-center mt-3">
            <img src="images/blog/03.jpg" class="avatar avatar-small rounded" style="width: auto;"
                 alt="">
            <div class="flex-1 ms-3">
                <a href="javascript:void(0)" class="d-block title text-dark">Look On The Glorious
                    Balance</a>
                <span class="text-muted">15th April 2021</span>
            </div>
        </div>
    </div>
</div>
<!-- RECENT POST -->

<!-- TAG CLOUDS -->
<div class="widget mt-4 pt-2 text-center">
    <h6 class="widget-title font-weight-bold pt-2 pb-2 bg-light rounded">Tags Cloud</h6>
    <div class="tagcloud mt-4">
        <a href="javascript:void(0)" class="rounded text-dark">Business</a>
        <a href="javascript:void(0)" class="rounded text-dark">Finance</a>
        <a href="javascript:void(0)" class="rounded text-dark">Marketing</a>
        <a href="javascript:void(0)" class="rounded text-dark">Fashion</a>
        <a href="javascript:void(0)" class="rounded text-dark">Bride</a>
        <a href="javascript:void(0)" class="rounded text-dark">Lifestyle</a>
        <a href="javascript:void(0)" class="rounded text-dark">Travel</a>
        <a href="javascript:void(0)" class="rounded text-dark">Beauty</a>
        <a href="javascript:void(0)" class="rounded text-dark">Video</a>
        <a href="javascript:void(0)" class="rounded text-dark">Audio</a>
    </div>
</div>
<!-- TAG CLOUDS -->